@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e4174ff; 
  padding: 3px 6px;
  color: #dda94b;
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  max-height: 70px;
}
  
  .button-Logo {
    margin-left: 0px;
  }

  a {
    text-decoration: none;
    color: #dda94b;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .logo-image {
    width: 70px;
    height: 50px;
    margin-right: 0px;
    margin-left: 60px;
  }
  
  .search-bar {
    position: relative;
    right: 0px;
    display: flex;
    align-items: center;
    background-color: white; 
    border:4px solid #dda94b;
    border-radius: 50px; 
    padding: 5px 80px; 
    width: fit-content;
    height: 27px;
    margin-left: 0px;
    margin-right: 335px;
    }


  .search-input {
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'JetBrains Mono', monospace;
    padding: 5px;
    width: 220px
  }

  .search-button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.search-icon {
    width: 20px; 
    height: 20px; 
    color: #999;
}

.search-button:hover .search-icon {
    color: #1e4174;
    font-weight: bold;
}
  
  .login-button .login {
    padding: 8px 30px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    background-color: #dda94b; 
    height: 45px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 22px;
    margin-right: 65px;
    cursor: pointer;
    font-size: 22px; 
}

.login-button .login:hover {
    background-color: white;
    color: #dda94b; 
    font-weight: bold;
}
.perfil{
  margin-left: -168px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
}

.perfil-image{
  width: 70px;
  height: 50px;
  margin-right: 60px;
  margin-left: 20px;
}

.suggestions-list {
  position: absolute;
  background: white;
  border: 1px solid #1e4174;
  max-height: 200px;
  width: 400px;
  list-style: none;
  padding: 0;
  margin-top: 130px;
  margin-left: -70px;
  font-size: 14px;
  color: #1e4174; 
  height: 70px; 
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #dda94b;
}

@media (prefers-reduced-motion: no-preference) {
  .logo-image {
    animation: App-logo-spin infinite 20s linear;
  }
}