.home {
  padding: 0px 20px;
  font-family: 'Work Sans', sans-serif;
  background-color: #ffffff;
}
  
h2 {
  text-align: center;
  color: #ffffff;
  background-color: #1e4174ff;
  font-size: 3rem;
  margin-bottom: 30px;
  border-radius: 30px;
}
  
.disciplines {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  gap: 20px;
}
  
.card-home {
  background-color: #FFFFFF;
  border: 2px solid #d4af37;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  align-content: center;
  height: 650px;
}
  
.card-home h3 {
  color: #000000;
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-home p {
  color: #1D3557;
  margin: 5px 0px;
  margin-bottom: 15px;
  font-size: 1.5rem;
  
}
  
.comments-button {
  font-family: 'Work Sans', sans-serif;
  margin-top: 100px;
  padding: 10px 15px;
  background-color: #1e4174ff;;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 1px;
}

.comments-button:hover {
  background-color: #d4af37;
  color: #1e4174ff;
}

.comments-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #A8DADC;
}

a {
  text-decoration: none;
}